.booking-form {
    min-height: 890px;
    max-width: 1290px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 61px;
    .section-title {
        font-size: 60px;
    }
    .name {
        width: 858px;
        margin: 0 auto;
        padding-left: 5px;
        text-align: left;
    }
    .location {
        width: 858px;
        margin: 0 auto;
        padding-left: 5px;
        text-align: left;
        padding-top: 20px;
    }
    .date {
        width: 858px;
        margin: 0 auto;
        text-align: left;
        padding-top: 20px;
        padding-left: 5px;
    }
    .people {
        margin: 180em;
        width: 853px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        label {
            padding-right: 115px;
        }
    }
    .message {
        width: 858px;
        margin: 0 auto;
    }
    .submit {
        position: absolute;
        border-radius: 20px;
        border: none;
        background-color: $site-blue;
        color: white;
        width: 133px;
        height: 40px;
    }
}

.user {
    height: 58px;
    width: 344px;
    margin-right: 10.5px;
    padding-left: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.email {
    height: 58px;
    width: 481px;
    margin-left: 10.5px;
    padding-left: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.country {
    height: 58px;
    width: 344px;
    margin-right: 10.5px;
    padding-left: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.hotel {
    height: 58px;
    width: 481px;
    margin-left: 10.5px;
    padding-left: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Check-in {
    height: 58px;
    width: 698px;
    padding-left: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Check-out {
    height: 58px;
    width: 698px;
    padding-left: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.date > .Check-in-label {
    padding-right: 89px;
    padding-bottom: 20px;
}
.date > .Check-out-label {
    padding-right: 81px;
    padding-bottom: 20px;
}
.date > .Check-in {
    align-self: right;
}
.Adult {
    height: 58px;
    width: 58px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Children {
    height: 58px;
    width: 58px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Rooms {
    height: 58px;
    width: 58px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#message {
    width: 848px;
    height: 192px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.button-wrap {
    padding-top: 37px;
    padding-right: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media only screen and (max-width: 1060px) {
    .booking-form {
        height: 1280px;
    }
    .name {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        .user {
            flex-direction: column;
            margin-bottom: 30px;
            padding-right: 17px;
        }
        .email {
            flex-direction: column;
            margin-bottom: 30px;
            margin-left: 17px;
        }
    }
    .location {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        .country {
            flex-direction: column;
            margin-bottom: 30px;
            padding-right: 15px;
        }
        .hotel {
            flex-direction: column;
            margin-bottom: 30px;
            margin-right: 15px;
        }
    }
    .people {
        flex-direction: column;          
        width: 907px;
        
        .Adult {
            margin-bottom: 30px;
            margin-right: 630px;

        }
        .Children {
            margin-bottom: 30px;
            margin-right: 615px;

        }
        .Rooms {
            margin-bottom: 30px;
            margin-right: 625px;
        }
    }
    .Check-in {
        width: 559px;
    }
    .Check-out {
        width: 559px;
    }
    .button-wrap {
        margin-bottom: 30px;
    }
    #message {
        width: 720px;
       
    }
    .message {
        padding-right: 255px;
    }
}
